<h4>
  <a ui-sref="home">Home</a> &#10095;
  <a ui-sref="categories">Menu Categories</a> &#10095;
  <span>{{ itemsList.category }}</span>
</h4>
<table class="table table-bordered table-hover">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th class="text-right">Price</th>
  </thead>
  <tbody>
    <tr ng-repeat="item in itemsList.items">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.description }}</td>
      <td class="text-right">
        <div class="text-nowrap"><span class="text-muted">{{ item.small_portion_name }}</span> {{ item.price_small | currency }}</div>
        <div class="text-nowrap"><span class="text-muted">{{ item.large_portion_name }}</span> {{ item.price_large | currency }}</div>
      </td>
    </tr>
  </tbody>
</table>